<link rel="import" href="../vendor/polymer/polymer.html">
<link rel="import" href="../vendor/paper-shadow/paper-shadow.html">
<link rel="import" href="../vendor/core-item/core-item.html">


<polymer-element name="stat-card" attributes="label value">
    <template>
        <style>
        :host {
            display: inline-block;
            overflow: hidden;
        }
        .card {
            margin: 1em;
            font-family: 'RobotoDraft', sans-serif;
            font-weight: 300;
            font-size: 15px;
            min-width: 10em;
            border-radius: 4px;
        }
        .item {
            height: 7em;
            min-width: 10em;
            overflow: hidden;
            background-color: white;
            border-radius: 4px;
        }
        :host-context(.smart) .header {
            background-color: #4CAF50;
        }
        .header {
            padding-left: 0.5em;
            padding-right: 0.5em;
            background-color: #757575;
            text-align: center;
            color: white;
            width: 100%;
            font-size: 18px;
        }
        .content {
            text-align: center;
            font-weight: 500;
        }
        </style>
        <paper-shadow z="{{z}}" class="card" animated on-mouseover="{{onMouseOver}}" on-mouseout="{{onMouseOut}}">
            <core-item class="item" layout vertical>
                <div class="header" one>
                    <p>{{label}}</p>
                </div>
                <div class="content" one>
                    <p>{{value}}</p>
                </div>
            </core-item>
        </paper-shadow>
    </template>
    <script>
    Polymer('stat-card', {
        label: 'label',
        value: '',
        z: '1',
        onMouseOver: function(e, detail, sender) {
            sender.setZ(2);
        },
        onMouseOut: function(e, detail, sender) {
            sender.setZ(1);
        }

    });
    </script>
</polymer-element>
