html,body {
  font-family: 'RobotoDraft', sans-serif;
  font-weight: 300;
}

core-animated-pages {
  width: 95%;
  height: 95%;
  -webkit-user-select: none;
  overflow: hidden;
}

core-animated-pages > * {
  border-radius: 5px;
  font-size: 50px;
  background-color: white;
}

/*With deep it affects also the descendant shadow (in this case in core-scaffold)*/
body /deep/ core-toolbar{
  background-color: #3F51B5;
  color: #fff;
}

body /deep/ core-toolbar#menu-tool{
  background-color: #303F9F;
  color: #fff;
}

core-menu {
  color: #1A237E;
  margin: 10px 0 0 0;
}

core-menu > paper-item.core-selected {
  background: #E8EAF6;
}

@media all and (max-width: 660px) {
  core-animated-pages {
    width: 100%;
    height: 100%;
  }
}
