<link rel="import" href="elements/stat-card.html">

<google-chart type="line">
</google-chart>

<template is="auto-binding" id="stats-list">
    <stat-card label="Steps Count" value="{{data.t_real}}"></stat-card>
    <stat-card label="Average Consumption" value="{{data.avg_k}}"></stat-card>
    <stat-card label="Average VMs" value="{{data.avg_pms}}"></stat-card>
    <stat-card label="Miss Count" value="{{data.no_X}}"></stat-card>
    <stat-card label="Boot Count" value="{{data.no_boot}}"></stat-card>
    <stat-card label="Resize Count" value="{{data.no_resize}}"></stat-card>
    <stat-card label="Delete Count" value="{{data.no_delete}}"></stat-card>
</template>

<script>
var chart = document.querySelector('google-chart');
var statsList = document.querySelector('#stats-list');
var truncateDecimal = function (num) {
    return Math.round(num * 100) / 100
};
var drawGraph = function() {
    rows = [];

    $.ajax({
        url: 'parse.me.json',
        dataType: 'json',
        async: false,
        success: function(data) {
            // console.log(data.t_real);
            // console.log(data.avg_k);
            // console.log(data.avg_pms);
            // console.log(data.no_X);
            // console.log(data.no_boot);
            // console.log(data.no_resize);
            // console.log(data.no_delete);
            // console.log(data.snapshots);
            data.avg_k = truncateDecimal(data.avg_k);
            data.avg_pms = truncateDecimal(data.avg_pms);
            statsList.data = data;
            prev = [0, 0];
            $.each(data.snapshots,
                function(key, value) {
                    // console.log(key + ' ' + value);
                    var row;
                    if (value instanceof Array) {
                        row = ['t' + key, value[0], value[1], null];
                        prev = value
                    } else {
                        row = ['t' + key, prev[0], prev[1], 'X'];
                    }
                    rows.push(row);
                }
            );


        }
    });

    var TOT_K_COL = '#D50000';
    var NO_PMS_COL = '#CDDC39';

    var options = {
        curveType: 'function',
        series: {
            0: {
                targetAxisIndex: 0
            },
            1: {
                targetAxisIndex: 1
            }
        },
        hAxis: {
            showTextEvery: 10
        },
        vAxes: {
            0: {
                title: 'Total Consumption',
            },
            1: {
                title: 'Number of PMs',
            }
        },
        colors: [TOT_K_COL, NO_PMS_COL, 'black']
    };
    var cols = [{
        label: "t",
        type: "string"
    }, {
        label: "Total Consumption",
        type: "number"
    }, {
        label: "Number of PMs",
        type: "number"
    }, {
        role: "annotation",
        type: "string"
    }];
    chart.setAttribute("options", JSON.stringify(options));
    chart.setAttribute("cols", JSON.stringify(cols));
    chart.setAttribute("rows", JSON.stringify(rows));

}
$(window).resize(function() {
    chart.drawChart();
});
drawGraph();
</script>
