<link rel="import" href="elements/stat-card.html">
<script type="text/javascript" src="../scripts/chart_page.js"></script>


<!-- SMART SIMULATION SECTION -->
<div class="smart">
    <p class="section-title">Smart Simulation</p>
    <hr width="80%" align="center" noshade>
</div>

<paper-shadow z="1" id="chart-shadow">
    <google-chart type="line" id="smart-chart">
    </google-chart>
</paper-shadow>


<template is="auto-binding" id="smart-stats">
    <stat-card label="Steps Count" value="{{data.t_real}}" class="smart"></stat-card>
    <stat-card label="Average Consumption" value="{{data.avg_k}}" class="smart"></stat-card>
    <stat-card label="Average VMs" value="{{data.avg_pms}}" class="smart"></stat-card>
    <stat-card label="Miss Count" value="{{data.no_X}}" class="smart"></stat-card>
    <stat-card label="Boot Count" value="{{data.no_boot}}" class="smart"></stat-card>
    <stat-card label="Resize Count" value="{{data.no_resize}}" class="smart"></stat-card>
    <stat-card label="Delete Count" value="{{data.no_delete}}" class="smart"></stat-card>
</template>


<!-- NORMAL SIMULATION SECTION -->

<div>
    <p class="section-title">Normal Simulation</p>
    <hr width="80%" align="center" noshade>
</div>

<paper-shadow z="1" id="chart-shadow">
    <google-chart type="line" id="norm-chart">
    </google-chart>
</paper-shadow>

<template is="auto-binding" id="norm-stats">
    <stat-card label="Steps Count" value="{{data.t_real}}"></stat-card>
    <stat-card label="Average Consumption" value="{{data.avg_k}}"></stat-card>
    <stat-card label="Average VMs" value="{{data.avg_pms}}"></stat-card>
    <stat-card label="Miss Count" value="{{data.no_X}}"></stat-card>
    <stat-card label="Boot Count" value="{{data.no_boot}}"></stat-card>
    <stat-card label="Resize Count" value="{{data.no_resize}}"></stat-card>
    <stat-card label="Delete Count" value="{{data.no_delete}}"></stat-card>
</template>


<!-- AGGREGATE
 STATISTICS SECTION -->

<template is="auto-binding" id="aggr-stats">

    <div>
        <p class="section-title">Simulations Aggregate Statistics</p>
        <hr width="80%" align="center" noshade>
    </div>

    <stat-card label="VMs" value="{{data.tot_avg_x_smart}}" class="smart"></stat-card>
    <stat-card label="Miss" value="{{data.tot_avg_pms_smart}}" class="smart"></stat-card>
    <stat-card label="Consumption" value="{{data.tot_avg_k_smart}}" class="smart"></stat-card>

    </br>

</template>
